{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Zero One One</title>
    <meta name="description" content=" " /> 
    <meta name="keywords" content="" /> 
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" /> 
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- This file stores the projects specific CSS -->
    <link href="{% static 'css/zoo.css' %}" rel="stylesheet">
    <link href="{% static 'css/lightbox_gall.css' %}" rel="stylesheet" >
    <link href="{% static 'css/birds.css' %}" rel="stylesheet" >
    <link href="{% static 'css/web.css' %}" rel="stylesheet" >
    <link href="{% static 'css/graph.css' %}" rel="stylesheet" >
    <!-- Use this to quickly test CSS changes in a template,
        then move to zoo.css -->
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
  <div class="page">

    <div class="header_row">
      <div class="bg_left_top_block col"></div>
      <div class="header col"></div>
      <div class="bg_right_top_block col"></div>
    </div>
    <div class="content_row">
      <div class="bg_left_bot_block col"></div>
      <div class="bg_menu_block col"></div>
      <div class="menu_block col">
        <div class="menu"><b>
{% load tree_menu_tags %}
{% show_menu "mainMenu" "unordered-list" %}</b>
        </div>
        <div class="news">
          <h2>Featured</h2>
          <hr></hr>
          <h3>Website Process</h2>
          <div class="fade">
            <a href="/web_info/">
              <img class="fade" width="90%" src="{% static 'img/tour_1.jpg' %}">
              <p>Information regarding the process of building a new website</p>
            </a>
          </div>
          <hr></hr>
          <div class="fade">
            <h3>Youtube</h2>
            <a href="/videos/">
              <img width="90%" src="{% static 'img/clapper.jpg' %}">
              <p>A few vids from our youtube channel</p>
            </a>
          </div>
          <hr></hr>
          <p>&nbsp;</p>
          <div class="fade">
            <a href="">
              <img width="90%" src="{% static 'img/python-logo-generic.svg' %}">
            </a>
          </div>
          <p>&nbsp;</p>
          <div class="fade">
            <a href="">
              <img width="90%" src="{% static 'img/django-logo-positive.svg' %}">
            </a>
          </div>
        </div>
      </div>
      <div class="content_block col">
{% block body %}{% endblock %}
{% block gall_ent %}{% endblock %}
      </div>
      <div class="bg_content_block col"></div>
      <div class="bg_right_bot_block col"></div>
    </div>
    <div class="footer_row">
      <div class="footer col">
        
      </div>
<div class="footer_text">copyright zerooneone 2014  |  P: 0433871421  |  E: info@zerooneone.com  |   ABN: 61 296 762 067
        </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

  <script src="{% static 'js/tokenizer.js' %}"></script>
  <script src="{% static 'js/parser.js' %}"></script>
  <script src="{% static 'js/vminpoly.js' %}"></script>

  <script type="text/javascript">
    if (!Array.prototype.filter)
    {
      Array.prototype.filter = function(fun /*, thisp*/)
      {
        var len = this.length;
        if (typeof fun != "function")
          throw new TypeError();

        var res = new Array();
        var thisp = arguments[1];
        for (var i = 0; i < len; i++)
        {
          if (i in this)
          {
            var val = this[i]; // in case fun mutates this
            if (fun.call(thisp, val, i, this))
              res.push(val);
          }
        }

        return res;
      };
    }
  </script>


{% block extra_js %}{% endblock extra_js %}
  </div>
</body>
</html>



