{% extends 'base.html' %}
{% load staticfiles %}      
{% block body %}
<h2>Graphic Design and Desktop Publishing</h2>
<p>&nbsp;</p>
<p>Everyone loves a buisness with some sexy graphic design.
</p>
<p>&nbsp;</p>
<p> 
Have your corporate image: logos, business cards, letterhead, leaflets, brochures and website graphics created by Zero One One</p>
<p>&nbsp;</p>
<p> Available as a discounted full business package or as 'one off' elements</p>

<div id="graph_stage">   
  <div id="graph_frame2"><img src="{% static 'img/web.png' %}" width= 100% height= 100%></div>
  <div id="graph_frame1">
    <div class="graph_frame2_text">
      <p><h3>Website template design</h3><p>Your business card is one of your most important marketing tools. Not only does it identify your business services, but it in fact reflects the professionalism and quality of services that you provide to customers. Compromising the quality of your business card is like compromising your service quality to potential customers.
      </p>
    </div>
  </div>
</div>

<div id="graph_stage">   
  <div id="graph_frame2"><img src="{% static 'img/cards.png' %}" width= 100% height= 100%></div>
  <div id="graph_frame1">
    <div class="graph_frame2_text">
      <p><h3>Business cards</h3><p>Your business card is one of your most important marketing tools. Not only does it identify your business services, but it in fact reflects the professionalism and quality of services that you provide to customers. Compromising the quality of your business card is like compromising your service quality to potential customers.
      </p>
    </div>
  </div>
</div>

<div id="graph_stage">   
  <div id="graph_frame2"><img src="{% static 'img/flyer.png' %}" width= 100% height= 100%></div>
  <div id="graph_frame1">
    <div class="graph_frame2_text">
      <p><h3>Flyers</h3><p>Your business card is one of your most important marketing tools. Not only does it identify your business services, but it in fact reflects the professionalism and quality of services that you provide to customers. Compromising the quality of your business card is like compromising your service quality to potential customers.
      </p>
    </div>
  </div>
</div>

<div id="graph_stage">   
  <div id="graph_frame2"><img src="{% static 'img/gift_vouchers.png' %}" width= 100% height= 100%></div>
  <div id="graph_frame1">
    <div class="graph_frame2_text">
      <p><h3>Gift vouchers</h3><p>Your business card is one of your most important marketing tools. Not only does it identify your business services, but it in fact reflects the professionalism and quality of services that you provide to customers. Compromising the quality of your business card is like compromising your service quality to potential customers.
      </p>
    </div>
  </div>
</div>

<div id="graph_stage">   
  <div id="graph_frame2"><img src="{% static 'img/letterhead.png' %}" width= 100% height= 100%></div>
  <div id="graph_frame1">
    <div class="graph_frame2_text">
      <p><h3>Letterheads</h3><p>Your business card is one of your most important marketing tools. Not only does it identify your business services, but it in fact reflects the professionalism and quality of services that you provide to customers. Compromising the quality of your business card is like compromising your service quality to potential customers.
      </p>
    </div>
  </div>
</div>

{% endblock %} 
