{% extends 'base.html' %}
{% load staticfiles %}      
{% block body %}
<div class="truck_silo"></div>
<h2>Mobile Workstation</h2>
<p>&nbsp;</p>

<p>Isuzu NPS 4x4</br>
Single wheel conversion</br>
Suspension upgrade</p>
<p>&nbsp;</p>
<p>**pic of truck**</p>
 <p>&nbsp;</p>
<p>Lounge space for on site meetings. Desk and office chair for slogging code.</p> 
<p>&nbsp;</p>
<p>**pic of lounge/office setup**</p>
<p>&nbsp;</p>
<p>With a 540 watt solar power system there is Plenty of power for 24/7 website development.</p>
<p>&nbsp;</p>
<p>**pic of solar/power cabinet**</p>
<p>&nbsp;</p>
<p>Stainless steel kitchen for when you get hungry and or need a hot cuppa. Boasting a 130lt frige/freezer and a Oven/griller/3 burner stove.</p>
<p>&nbsp;</p>
<p>**pic of kitchen**</p>
<p>&nbsp;</p>
<p>When you get sleepy hit the switch on the wall and lower the queen size bed down into the lounge.</p>
<p>&nbsp;</p>
<p>**pic of with bed down**</p>
<p>&nbsp;</p>
<p>For cleaning away the grime just have a hot shower! There is a 30lt hot water system and 300lt fresh water. For quick getaways (or to go get bread and milk) there is a crawl through to the truck cab space.</p>
<p>&nbsp;</p>
<p>**pic of shower**</p>
<p>&nbsp;</p>
<p>link gallery of construction pics</p>
<p>link gallery of holiday pics</p>
<p>&nbsp;</p>

{% endblock %} 
