{% extends 'base.html' %}
{% load staticfiles %}      
{% block body %}
<div class="truck_silo"></div>
<h2>Mobile Workstation</h2>
<p>&nbsp;</p>

<p>The ZeroOneOne mobile workstation is used for remote development, on-site meetings and generally having a good time.</p>
<p>&nbsp;</p>
<p>It is really quite an awesome bit of gear.</p>
<p>&nbsp;</p>
<p>Built on an Isuzu NPS 4x4 6.5 ton chassis its really strong and can get in to almost anywhere.
The base truck has had a single wheel conversion and a suspension upgrade to improve the ride and performance off road.</p>
<p>&nbsp;</p>
<p>In order to keep the truck agile enough to get down winding 4x4 tracks, park in a parking space at the supermarket and go out for coffee. The living area is a bit of a compromise. That said there is a surprising amount of creature comforts packed into the box.</p>
<p>&nbsp;</p>
<p>There is a lounge area for on site meetings. Desk and office chair for slogging code.</p> 
<p>&nbsp;</p>
<p>**pic of lounge/office setup**</p>
<p>&nbsp;</p>
<p>With a 540 watt solar power system there is Plenty of power for 24/7 website development.</p>
<p>&nbsp;</p>
<p>**pic of solar/power cabinet**</p>
<p>&nbsp;</p>
<p>Stainless steel kitchen for when you get hungry and or need a hot cuppa. Boasting a 130lt frige/freezer and a Oven/griller/3 burner stove.</p>
<p>&nbsp;</p>
<p>**pic of kitchen**</p>
<p>&nbsp;</p>
<p>When you get sleepy hit the switch on the wall and lower the queen size bed down into the lounge.</p>
<p>&nbsp;</p>
<p>**pic of with bed down**</p>
<p>&nbsp;</p>
<p>For cleaning away the grime just have a hot shower! There is a 30lt hot water system and 300lt fresh water. For quick getaways (or to go get bread and milk) there is a crawl through to the truck cab space.</p>
<p>&nbsp;</p>
<p>**pic of shower**</p>

<div class="truck_img"><img src="{% static 'img/truck_1.jpg' %}"></div>
<p>&nbsp;</p>
<p>link gallery of construction pics</p>
<p>link gallery of holiday pics</p>
<p>&nbsp;</p>

{% endblock %} 
