{% extends 'base.html' %}
{% load staticfiles %}      
{% block body %}

<h2>ZeroOneOne Website Showcase</h2>
<p>&nbsp;</p> 
<p>dolor sit amet, consectetur adipiscing elit.Mauris dapibus iaculis iaculis. Nullam imperdiet id velit sed gravida. Maecenas auctor, libero molestie dictum venenatis, justo metus malesuada elit, a tempor nisi diam nec enim.Vivamus feugiat nec metus ac imperdiet here.</p>

<div id="skico_stage">
  <div id="skico_frame1"></div>
  <div id="skico_frame2"><img align=”right” src="{% static 'img/skico_logo.jpg' %}">
    <div class="skico_frame2_text">
      <ul type="none">
        <li>skico.com.au</li>
        <li>Development 2012</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>
<div id="anca_stage">
  <div id="anca_frame1"></div>
  <div id="anca_frame2"><img src="{% static 'img/anca_logo.jpg' %}">
    <div class="anca_frame2_text">
      <ul type="none">
        <li>anca.com.au</li>
        <li>Development 2008</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>
<div id="front_stage">
  <div id="front_frame1"></div>
  <div id="front_frame2"><img src="{% static 'img/front_logo.jpg' %}">
    <div class="front_frame2_text">
      <ul type="none">
        <li>frontgallerycafe.com</li>
        <li>Development 2008</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>

<div id="bma_stage">
  <div id="bma_frame1"></div>
  <div id="bma_frame2"><img src="{% static 'img/bma_logo.jpg' %}">
    <div class="bma_frame2_text">
      <ul type="none">
        <li>bmamag.com</li>
        <li>Development 2008</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} 
