{% extends 'base.html' %}
{% load staticfiles %}      
{% block body %}

<h2>ZeroOneOne Website Showcase</h2>
<p>&nbsp;</p> 
<p>The challenge when creating a new web presence is to accurately depict the nature of the business graphically and also to ensure the website is a useful business tool.
</p>
<p>&nbsp;</p> 
<p>We discuss the graphical layout of the site with the client to determine the best course of action to create the site graphics. Sometimes we prefer to use a ZeroOneOne designer and sometimes the client has an 'in house designer' to create the layout. Each client also has specific needs for the functionality of their web application. We work with the client to determine what applications will benefit the running of the business. The result is a fully customised website management system that allows the client to easily update the website content themselves.
</p>
<p>&nbsp;</p> 
<p>Check out our sneak peak web portfolio. Just a few of the many web projects we have been involved in creating.</p>

<div id="skico_stage">
  <div id="skico_frame1"></div>
  <div id="skico_frame2"><img align=”right” src="{% static 'img/skico_logo.jpg' %}">
    <div class="skico_frame2_text">
      <ul type="none">
        <li>skico.com.au</li>
        <li>Development 2012</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>
<div id="anca_stage">
  <div id="anca_frame1"></div>
  <div id="anca_frame2"><img src="{% static 'img/anca_logo.jpg' %}">
    <div class="anca_frame2_text">
      <ul type="none">
        <li>anca.com.au</li>
        <li>Development 2008</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>
<div id="front_stage">
  <div id="front_frame1"></div>
  <div id="front_frame2"><img src="{% static 'img/front_logo.jpg' %}">
    <div class="front_frame2_text">
      <ul type="none">
        <li>frontgallerycafe.com</li>
        <li>Development 2008</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>

<div id="bma_stage">
  <div id="bma_frame1"></div>
  <div id="bma_frame2"><img src="{% static 'img/bma_logo.jpg' %}">
    <div class="bma_frame2_text">
      <ul type="none">
        <li>bmamag.com</li>
        <li>Development 2008</li>
        <li>Django Framework</li>
        <li>.</li>
        <li>Click on the image to view the site live</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} 
