{% extends 'base.html' %}
{% load staticfiles %}      
{% block body %}
<h2>Websites Tour</h2>
<p>&nbsp;</p>
<p>
1) Easy Total Implementation
</p>
We’ll can offer everything from GRAPHIC DESIGN to the published WEBSITE.
</p><p>
Full, finished, functional websites delivered to you. Friendly and hassle-free.
<p>
We'll guide you through the process:
</p><p>
have a chat to us about your business or organisation
tell us what you would like in a website
... and we'll provide you with all the help you need to get online fast.
</p><p>
We also specialise in rebuilding and rejuvenating old websites.
</p><p>
2) You control your site
</p><p>
It's vitally important to us that you have complete control over your site.
</p><p>
Not only that — but that it's easy.
</p><p>
The system we use has the easiest, cleanest, fastest and friendliest customised admin section in the business.
</p><p>
Using our admin section is even easier than sending email! If you ever run into any trouble, our helpful support people are only a phone call away.
</p><p>
3) Django Web Framework
</p><p>
why are our websites so good? Because we use some of the best technology there is: a web framework called Django.
<p>
"Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design."
</p><p>
Python is a programming language that is used for many serious pursuits, such as scientific research and engineering as well as web development*. It is also used for very large, famous and robust websites such as Google, NASA and YouTube.
</p><p>
Django is simply more secure
</p><p>
Security is a very serious issue on the internet.
</p><p>
The framework adheres to strict and long-standing software engineering concepts which massively decrease any security risks.
</p><p>
The way the system is designed mean that the security is excellent - much more so than nearly all the other system out there.
</p><p>
You can read more about the django framework here: http://djangoproject.com/
</p><p>
4) We like and respect our clients
</p><p>
It's just the way we are. We want to have a good relationship with you.
</p><p>
We want it to be an easy, satisfying and solid experience. Not just for you, but for us! We really like our work and part of what this means is getting along with you and making you happy. 
</p><p>
We want to have a good time and we know that this is not a one-way street, we're working on this together so it's important to us that we're working well with you. When you're happy our job is fun and we're happy.
</p><p>
We have strong principles particularly in regards to making it easy for our clients, in the end we think this makes it better for all of us — it makes good sense and is the right thing to do.

</p>

{% endblock %} 
