{% extends "base.html" %}
{% load embed_video_tags %}
{% block body %}
<h2>ZeroOneOne video posts</h2>
<p>&nbsp;</p>
{% for post in object_list %}
{% video post.video as video %}
<a href="{{ post.get_absolute_url }}">




        <div class="vid_text">
          <h3>{{ post.title }}</h3>
          </p>{{ post.details }}</p>
        </div>

        <div class="vid_thumb">
          <img src="{{ video.thumbnail }}" width="100%">
        </div>

</a>
{% endvideo %}
{% endfor %}
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">&larr; Older</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="next"><a href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a></li>
    {% endif %}
  </ul>
{% endblock %}
