{% extends 'base.html' %}
{% load staticfiles %}   
{% block body %}
<h2>3D Rendering Showcase</h2>
<p>&nbsp;</p>
<p>3D rendering is kind of like creating something out of nothing. Firstly wire frame objects are created by hand using computer software. The objects are then wrapped in images (textures). Then the objects are artificially lit and animated/rendered.</p>
<p>&nbsp;</p>
<p>The rendering process enables accurate control over lighting effects, reflections and shadows. This level of control makes 3D rendering an awesome method of displaying products and architectural developments.</p>
<p>&nbsp;</p>
<p>Check out the gallery below for a few examples of ZeroOneOne's 3D rendering projects</p> 
<p>&nbsp;</p>
<p>**All images are computer generated wireframes/textures not photos</p>
<p>&nbsp;</p>
<!--[if IE]>
<link rel="stylesheet" href="{{MEDIA_URL}}css/ie.css" type="text/css" />
<![endif]--> 

<body id="page">
        <div class="container">
			<section>
				<ul class="lb-album">
{% for photo in photo_list %}
					<li>
						<a href="#{{photo.title}}">
							<img src="{{photo.get_admin_thumbnail_url}}" alt="image01">
							<span>{{photo.title|safe}}</span>
						</a>
						<div class="lb-overlay" id="{{photo.title}}">
							<img src="{{photo.get_gallery_photo_url}}" alt="image01" />
							<div>
								<h3>{{photo.title|safe}}<span>/3d rendering/</h3>{{photo.caption|safe}}
								
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
{% endfor %}
				</ul>
			</section>
        </div>
{% endblock %}





