{% extends 'base.html' %}
{% load staticfiles %}   
{% block body %}
<h2>3D Rendering Showcase</h2>
<p>&nbsp;</p>
<p>dolor sit amet, consectetur adipiscing elit.Mauris dapibus iaculis iaculis. Nullam imperdiet id velit sed gravida. Maecenas auctor, libero molestie dictum venenatis, justo metus malesuada elit, a tempor nisi diam nec enim.Vivamus feugiat nec metus ac imperdiet here.</p>
<p>&nbsp;</p>
<p>Just a few examples of 3D rendering work</p> 
<p>&nbsp;</p>
<p>**All images are computer generated wireframes/textures not photos</p>
<p>&nbsp;</p>
<!--[if IE]>
<link rel="stylesheet" href="{{MEDIA_URL}}css/ie.css" type="text/css" />
<![endif]--> 

<body id="page">
        <div class="container">
			<section>
				<ul class="lb-album">
{% for photo in photo_list %}
					<li>
						<a href="#{{photo.title}}">
							<img src="{{photo.get_admin_thumbnail_url}}" alt="image01">
							<span>{{photo.title|safe}}</span>
						</a>
						<div class="lb-overlay" id="{{photo.title}}">
							<img src="{{photo.get_gallery_photo_url}}" alt="image01" />
							<div>
								<h3>{{photo.title|safe}}<span>/3d rendering/</h3>{{photo.caption|safe}}
								
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
{% endfor %}
				</ul>
			</section>
        </div>
{% endblock %}





