a,abbr,acronym,address,applet,b,big,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,html,i,iframe,img,input,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,textarea,tfoot,th,thead,tr,tt,u,ul,var
{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}ol,ul{list-style: none;}

@font-face {
    font-family: 'arial';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
	text-decoration: none;
    	font-style: bold;

}

body,td,th {
	color:#221e1f;

}
body {
	background-image: none;
	background-color:#231f20;
    	font-family: 'arial';
	text-decoration: none;
    	font-style: bold;

}
.wrapper {
	margin: 0px auto 30px auto;
	padding: 0px 0px 0px 0px;
	background-color:#fff;
	width: 1372px;
	/*border: thin #cccccc solid;*/			
}
.bg_left {
	margin: -3px 0px 0px -3px;
	background-image: url(../img/grunge_bg_left.png);
	background-repeat:no-repeat;
	height:1000px;		
}
.bg_right {
	margin: -3px -3px 0px 0px;
	background-image: url(../img/grunge_bg_right.png);
	background-repeat:no-repeat;
	height:1000px;		
}
.menu_bg {
	margin: 0px -8px 0px 0px;
	width: 80px;
	height:500px;
	background-image: url(../img/grunge_menu_left.png);	
	background-repeat:no-repeat;	
}

.content_bg {
	margin: -1px 0px 0px -3px;
	width: 80px;
	height:500px;
	background-image: url(../img/grunge_content_right.png);	
	background-repeat:no-repeat;	
}

.logo {
	background-image: url(../img/011_logo.jpg);
	margin: 20px 0px 0px 0px;
	background-repeat:no-repeat;
	width: 100%;
	height:340px;		
}
.content a:link {
	color:#727173;;
	text-decoration: none;
}
.content a:visited{
	color:#727173;
	text-decoration: none;
}
.content a:hover{
	color:#8b8d90;
}

.content {
	margin: 0px 0px 0px 0px;
	padding: 50px 50px 50px 50px;
	width: 670px;
	height: 500px;
	float:right;
    	font-family: 'arial';
	border: 12px #231f20 solid;
	text-decoration: none;
    	font-style: bold;			
}
.menu_container {
	margin: 0px 0px 0px 0px;
	width: 198px;
	float:left;
    	font-family: 'arial';
	text-decoration: none;
    	font-style: bold;			
}
.news{
	margin: 9px 0px 0px -2px;
	width: 194px;
	height: 294px;
	border: 12px #231f20 solid;
}
.menu {
	margin: 0px 0px 0px -2px;
	padding: 15px 0px 0px 23px;
	width: 171px;
	height: 159px;
	border: 12px #231f20 solid;
}
.menu a:link, a:visited{
	color:#231f20;
	text-decoration: none;
    	font-style: bold;
}
.menu a:hover{
	color:#7fc9fd;
}
.menu_item {
	margin: 4px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	height:20px;
	font-size: 1.1em;
	font-family: 'arial';
	text-decoration: none;
    	font-style: bold;
}
.footer {
	background-image: url(../img/footer_wave.jpg);
	background-repeat:no-repeat;
	background-color:#fff;
	margin: 30px auto 0px auto;
	width: 950px;	
	height: 201px;		
}

.footer_text {

	margin: 0px auto 0px auto;
	width: 710px;	
	height:50px;
	font-size: 1.1em;
	font-family: 'arial';
}
